.mainPage {
    background-color:  #545C8F;
    .content {
        max-width: 1920px;
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .schoolCardsArea {
            width: 1500px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 20px;
            // gap: 20px;
            .schoolCard {
                width: 360px;
                height: 320px;
                background-color: #EEE;
                .schoolCardImg {
                    width: 100%;
                    height: 270px;
                    object-fit: cover;
                }
                p {
                    line-height: 50px;
                    font-size: 20px;
                }
            }
        }
    }
}