.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg {
  background-color: #CACEE8;

  .content {
    max-width: 1920px;
    min-width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .innerBg {
      width: 1694px;
      // max-height: 1036px;
      height: 940px;
      background-color: black;
      background-image: url('./images/mainBg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 16px 18px;
      border-radius: 27px;

      .innerLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #EF92B9;
        width: 100%;
        height: 100%;
        border-radius: 27px;
        position: relative;
      }
    }
  }
}